<%- include("partials/header"); -%>
<h1 class="title-font">Succesful Login!</h1>
<button class="btn btn-lg btn-primary btn-block user-button" onclick="location.href = '/';">Ok</button>
<%- include("partials/footer"); -%>
